# DATA TYPES
  
  **string**
  
  **list**
  
  **tuples**
  
  **set**
  
  **number**
  
 
  **dictionary**

# string

* ordered sequences
* indexing and slicing used to grab a char using []

char          : h e l l o 
Index         : 0 1 2 3 4
reverse index : 0-4-3-2-1

[start:stop:step] <---  slicing syntax

In [40]:
len("i am")

4

In [41]:
mystring="hello world"

In [42]:
mystring[0]

'h'

In [43]:
mystring[2:]

'llo world'

In [44]:
mystring[::]

'hello world'

In [45]:
mystring[:-1]

'hello worl'

In [46]:
mystring.upper()

'HELLO WORLD'

In [47]:
mystring.lower()

'hello world'

In [48]:
mystring.split()

['hello', 'world']

In [103]:
mystring = "{}, {} and {}".format('John','Bill','Sean')
print(mystring)

John, Bill and Sean

In [70]:
x = 1233.3456789
print('The value of x is %1.2f' %x)

The value of x is 1233.35

## float formatting follows
  
    {value:width.precisionf}

In [49]:
a=56.777
print("{0:.2f}".format(round(a,2)))

print("{1:.2f}".format(3.567,4.567))

56.78
4.57

## f-string

In [50]:
name='h r u'
print(f'hi {name}')

hi h r u

#                                                   LIST
object are called by indexes or sliced

In [51]:
mylist=['1','2','3']
mylist[0]

'1'

In [52]:
mylist.append('4')

In [53]:
print(mylist)

['1', '2', '3', '4']

In [54]:
mylist.extend([5,6,7])

In [56]:
print(mylist)

['1', '2', '3', '4', 5, 6, 7]

## Python List Methods


append() - Add an element to the end of the list
extend() - Add all elements of a list to the another list
insert() - Insert an item at the defined index
remove() - Removes an item from the list
pop() - Removes and returns an element at the given index
clear() - Removes all items from the list
index() - Returns the index of the first matched item
count() - Returns the count of number of items passed as an argument
sort() - Sort items in a list in ascending order
reverse() - Reverse the order of items in the list
copy() - Returns a shallow copy of the list

In [59]:
power=[2**x for x in range(10)]

In [61]:
print(power)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [62]:
mylist[2:5]            #slicing method

['3', '4', 5]

## Dictionary

object retrieved or called by key name
unordered list and cant sbe sorted
{'key1':'value1','key2':'value2,'}

In [71]:
mydict={'name':'john'}

In [72]:
mydict

{'name': 'john'}

In [73]:
mydict['name']

'john'

In [75]:
mydict.get('name')            #get method so we r using ()

'john'

In [76]:
mydict['age']='23'               #to add values in dict

In [77]:
mydict

{'name': 'john', 'age': '23'}

In [79]:
mydict.keys()

dict_keys(['name', 'age'])

In [80]:
mydict.values()

dict_values(['john', '23'])

In [83]:
mydict.items()

dict_items([('name', 'john'), ('age', '23')])

## Tuples

* tuples are like list
* it cant be changed and reassigned the element
* it uses parenthesis()

In [84]:
tuples=(1,2,3)
print(tuples)

(1, 2, 3)

In [85]:
tuples[0]     #square braces used to call the elements   #indexing

1

In [87]:
tuples[:]                  #slicing

(1, 2, 3)

In [88]:
tuples[2:3]

(3,)

In [89]:
tuples[-1]                 #negative indexing

3

In [90]:
tuples=1,2,3       #tuples can be defined without ()   its called tuple packing

In [91]:
a,b,c=tuples          # tuple unpacking

In [92]:
print(a)

1

In [93]:
tuples2=4,5,6,6,6
tuples2.count(6)

3

In [94]:
print(tuples+tuples2)          #concatenation + sign

(1, 2, 3, 4, 5, 6, 6, 6)

In [98]:
print(('hello ')*4)

hello hello hello hello

In [99]:
print(1 in tuples)                #in keyword

True

In [104]:
tuples3=(67,68,68,[78,88])

In [105]:
print(tuples3[3][0])           #tuples cant be reassigned but nested mutable element can be changed

78

In [107]:
print(type('tuples'))

<class 'str'>

In [100]:
del tuples

In [101]:
tuples

NameError: name 'tuples' is not defined

## Set

* unordered collection of unqiue element
* union, intersection, symmetric difference  can be performed
* set is mutable.We can add or remove items from it
* it uses curly braces {}
* for calling objects ()

In [108]:
myset = {1, 2, 3}
print(myset)

{1, 2, 3}

In [127]:
myset2 = {3,4,5}
print(myset2)              #repeated values displayed only onces

{3, 4, 5}

In [110]:
myset = set([1,2,3])
print(myset)

{1, 2, 3}

In [141]:
myset = {1,2,3,4,5}

In [142]:
myset.discard(3)

In [152]:
myset.add(6)

In [153]:
myset

{2, 4, 6}

In [154]:
myset.remove(4)

KeyError: 5

In [155]:
myset

{2, 4, 6}

In [156]:
print(myset.pop())

2

In [157]:
sets1= {1, 2, 3, 4, 5}
sets2= {4, 5, 6, 7, 8}

In [158]:
print(sets1|sets2)     #Union

{1, 2, 3, 4, 5, 6, 7, 8}

In [159]:
print(sets1 & sets2)      #Intersection

{4, 5}

In [160]:
print(sets1-sets2)       #Difference

{1, 2, 3}

In [161]:
print(sets1^sets2 )        #Symmetric Difference

{1, 2, 3, 6, 7, 8}

In [162]:
mysets = set("apple")
print('a' in mysets)

True

## Numbers


int, float and complex

In [163]:
a = 5
print(type(a))

<class 'int'>

In [164]:
print(type(2.0))

<class 'float'>

In [165]:
print( type(5 + 3j))

<class 'complex'>

In [ ]:
S